body {
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  height: 100vh; /* Establece la altura del body al 100% del viewport */
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.juegos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.juegos-card {
  background-color: #424242;
  padding: 20px;
  border-radius: 8px;
}

.juego-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.juego-card h3 {
  margin-top: 10px;
  font-size: 18px;
}

.juego-card p {
  margin-top: 10px;
  font-size: 14px;
}

.juego-detalles {
  margin-top: 40px;
}

.juego-detalles img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
