/* Estilos para el título (h2), descripción (p) y párrafo (p) centrados */
.card-title,
.card-description,
.card-paragraph,
.juego-card p {
  text-align: center;
  font-size: 14px;
}

/* Estilos para el color naranja del título (h2) */
.card-title,
.juego-card h3 {
  text-align: center;
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
}

/* Estilos para resaltar los botones cuando el mouse pasa por encima */
.btn:hover {
  background-color: #f60;
  color: #fff;
}

/* Estilos para resaltar los enlaces cuando el mouse pasa por encima */
a:hover {
  text-decoration: underline;
}

body {
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  margin: 0;
}

.juegos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.juegos-card {
  background-color: #424242;
  padding: 20px;
  border-radius: 8px;
}

.juego-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
